# Node (para o backend NestJS)
node_modules/
dist/
*.tsbuildinfo

# React (para o frontend)
build/

# Arquivos de ambiente
.env

# Docker
*.log
docker-data/

# Editor
.vscode/

# Outros
*.DS_Store
*.tmp
*.log